@using ThienNga2.Models.Entities;
@using ThienNga2.Models.ViewModel;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    <meta name="viewport" content="width=device-width" />
    <title>Inventory</title>
    <link rel="stylesheet" type="text/css" href="~/Content/SearchBar.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Table.css">
    <script src="http://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="~/Content/jquery-ui.css" type="text/css">

    <script>
        $(document).ready(function () {

            function checkHidden() {
                for (i = 1 ; i < 10 ; i++) {
                    0
                    if ($('#lst_' + (i - 1) + '__warrantyID').val() == "") {

                        $('#tr' + (i)).hide();
                    }
                    else {

                        $('#tr' + (i)).show();
                    }
                }

            };

            $('#test').click(function () {

                checkHidden();
            });
            setInterval(checkHidden, 100);
        });



    </script>
    <script>
        function checkPrice(name, index) {
            var flag = false;

            $.getJSON("/KickHoatBaoHanh/checking?IMEI=" + name, function (result) {
               
                $.each(result, function (name, value) {
                    if (name == "name") {
                        
                        
                        if (value != null) {
                            $('#lst_' + (index - 1) + '__warrantyID').css("background-color", "red");
                            flag = true;
                            $('#lst_' + (index - 1) + '__warrantyID').css("color", "white");

                        }


                    }

                })
            });
            if (!flag) {
                $('#lst_' + (index - 1) + '__warrantyID').css("background-color", "green");

                $('#lst_' + (index - 1) + '__warrantyID').css("color", "white");
            }
        };
        var temp = ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""];
        function checkHidden2() {
            for (i = 1 ; i < 20; i++) {
                // lst_0__warrantyID
                if ($('#lst_' + (i - 1) + '__warrantyID').val() == "") {

                }
                else {
                    if ($('#lst_' + (i - 1) + '__warrantyID').val() != temp[i - 1]) {
                        temp[i - 1] = $('#lst_' + (i - 1) + '__warrantyID').val();
                        checkPrice($('#lst_' + (i - 1) + '__warrantyID').val(), i);
                    }
                
                }
            }

        };
        setInterval(checkHidden2, 100);

    </script>
    <style>
        .singleTextBox {
            width: 50px;
        }
    </style>
</head>
<body>

    <div>
        @using (Html.BeginForm("Search", "KickHoatBaoHanh"))
        {

            <div id="form" class="form-wrapper">
                <table>
                    <tr>
                        <td>
                            <input id="search" class="suggestionsinput" name="code" type="text" placeholder="Mã sản phẩm " required />
                        </td>
                        <td>
                            <button type="submit" value="Search" id="submit">Tìm  </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />Tìm theo
                            <input type="radio" name="searchType" checked="checked" value="masp"> Mã sản pẩm
                            <input type="radio" name="searchType" value="date"> Ngày
                            <input type="radio" name="searchType" value="sdt"> SĐT
                            <input type="radio" name="searchType" value="sku"> SKU

                        </td>
                    </tr>
                </table>


            </div>




        }

        @if (ViewData["dspsp"] != null)
        {

            List<item> lst = (List<item>)ViewData["dspsp"];
            if (lst.Count == 1)
            {
                item it = lst.ElementAt(0);
                <table class="responstable">
                    <tr>
                        <td>SKU: @it.tb_product_detail.productStoreID</td>
                    </tr>
                    @if (it.CustomerType1 != null)
                    {
                        <tr>
                            <td bgcolor="@it.CustomerType1.Color">Nhóm khách: @it.CustomerType1.GroupName</td>
                        </tr>
                    }
                    <tr>
                        <td> Mã unit: @it.productID</td>
                    </tr>
                    <tr>
                        <td>Tên sản phẩm : @it.tb_product_detail.productName</td>
                    </tr>
                    <tr>
                        <td>Tên khách : @it.tb_customer.customerName</td>
                    </tr>
                    <tr>
                        <td>SDT khách: @it.tb_customer.phonenumber</td>
                    </tr>
                    <tr>
                        <td> Ngày mua: @it.DateOfSold </td>
                    </tr>
                </table>

                <table class="responstable">
                    <tr>
                        <th>
                            IMEI bảo hành
                        </th>
                        <th>
                            Ngày kích hoạt
                        </th>
                        <th>
                            Thời hạn
                        </th>
                        <th>
                            Mô tả
                        </th>
                        <th>
                            Mã chính
                        </th>
                        <th>
                            xóa
                        </th>
                    </tr>
                    @if (ViewData["warList"] != null)
                    {
                        foreach (tb_warranty war in (List<tb_warranty>)ViewData["warList"])
                        {
                            string url = "/KickHoatBaoHanh/Delete?warrantyCode=" + @war.warrantyID + "&itemID=" + it.productID;
                            <tr>
                                <td>
                                    @war.warrantyID
                                </td>
                                <td>
                                    @war.startdate.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @war.duration
                                </td>
                                <td>
                                    @war.description
                                </td>
                                <td>
                                    @if (war.MaChinh)
                                    {
                                        <h3>Đây là mã chính</h3>
                                    }
                                    else
                                    {
                                        <p>Đây là mã phụ</p>
                                    }
                                </td>
                                <td>
                                    @using (Html.BeginForm("Delete", "KickHoatBaoHanh", FormMethod.Post))
                            {
                                        <input type="hidden" value="@war.id" name="warrantyID" />
                                        <input type="hidden" value="@it.productID" name="itemID" />
                                        <input type="submit" value="Xóa" />
                                    }
                                </td>
                            </tr>
                        }
                    }

                    @using (Html.BeginForm("newWarranty", "KickHoatBaoHanh", FormMethod.Post))
                    {

                        @model KichHoatBaoHanh
                        @Html.AntiForgeryToken()


                        @Html.HiddenFor(x => x.itemID, new { @Value = it.productID })
                        for (var i = 0; i < Model.lst.Count; i++)
                        {

                            string id = "tr" + i;

                            <tr id='@id'>
                                <td>
                                    @Html.HiddenFor(x => x.lst[i].itemID, new { @class = "datefield form-control", @Value = it.productID })
                                    @Html.TextBoxFor(x => x.lst[i].warrantyID, new { @class = "datefield form-control" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.lstDay[i], new { @class = "singleTextBox", @Value = DateTime.Now.Day })
                                    @Html.TextBoxFor(x => x.lstMonth[i], new { @class = "singleTextBox", @Value = DateTime.Now.Month })
                                    @Html.TextBoxFor(x => x.lstYear[i], new { @class = "singleTextBox", @Value = DateTime.Now.Year })
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.lst[i].duration, new { @class = "datefield form-control" })
                                </td>

                                <td>
                                    @Html.TextBoxFor(x => x.lst[i].description, new { @class = "datefield form-control" })
                                </td>
                                <td>
                                    @Html.CheckBoxFor(x => x.lst[i].MaChinh, new { @class = "datefield form-control" })
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <input type="submit" value="Cập nhật" />
                            </td>

                        </tr>

                    }
                </table>
            }
            else
            {
                <table class="responstable">
                    <tr>
                        <th> SKU </th>
                        <th> Mã báo giá </th>
                        <th> Tên sản phẩm </th>
                        <th> Tên Khách </th>
                        <th> SDT</th>
                        <th> Ngày giờ mua</th>
                        <th> Chi tiết</th>
                    </tr>

                    @foreach (item i in (List
                    <item>
                        )ViewData["dspsp"])
                    {
                        <tr>
                            <td>
                                @i.tb_product_detail.productStoreID
                            </td>
                            <td>
                                @i.productID
                            </td>

                            <td>
                                @i.tb_product_detail.productName
                            </td>
                            <td>
                                @i.tb_customer.customerName
                            </td>
                            <td>
                                @i.tb_customer.phonenumber
                            </td>
                            <td>
                                @i.DateOfSold
                            </td>
                            <td>
                                @using (Html.BeginForm("Search", "KickHoatBaoHanh"))
                                {
                                    <input type="hidden" name="code" value="@i.productID" />
                                    <input type="hidden" name="searchType" value="masp" />
                                    <button type="submit" name=" Chi tiết">Chi tiết</button>
                                }
                            </td>
                        </tr>
                    }

                </table>
            }
        }


    </div>

    <script>
        $(document).ready(function () {
            $('input').on("keypress", function (e) {
                /* ENTER PRESSED*/
                var t = e.keyCode;

                if (t == 13) {

                    return false;
                }
            });
        });
    </script>

</body>
</html>
