@using ThienNga2.Models;
@using ThienNga2.Models.Entities;
@using ThienNga2.Models.ViewModel;
<!DOCTYPE html>

<html>
<head

    <meta name="viewport" content="width=device-width" />
    <title>Inventory</title>
    <link rel="stylesheet" type="text/css" href="~/Content/SearchBar.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Table.css">
    <script src="http://www.google.com/jsapi"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#myModal').modal('toggle');
	        $("#increasequantity").click(function () {
                $("#quantityInput").val() =  $("#quantityInput").val() +1;
    });
        $("#decreasequantity").click(function () {

    });
	    $(".suggestionsinput").click(function () {
	        if ($(".suggestionsinput").val() == "Search") {
	            $(".suggestionsinput").val("");
	        }
	    });
        $(".suggestionsinput").keyup(function(event){
		if($(".suggestionsinput").val() != "")
		{
			// make suggestions visible
			$("#suggestions").css('visibility', 'visible');
			$("#suggestions").hide();
			$("#suggestions").fadeIn('slow');
			$(".searchterm").text($(".suggestionsinput").val());
		 $("#suggestions").load('http://localhost:53874/Product/getAll');

		} else {
			// hide suggestions
			$("#suggestions").fadeOut('slow', function(){
				$("#suggestions").css('visibility', 'hidden');
			});

		}
	});



	})

    </script>
    <script>
        $(document).ready(function () {
            $('#search').autocomplete({
                source: '@Url.Action("Autocomplete")'

            })
                .data("ui-autocomplete")._renderItem = function (ul, item) {
                    return $("<li>")
                      .data("ui-autocomplete-item", item)
                      .append('<a style="color:black">' + item.label +"</a>")
                      .appendTo(ul);
                };


        });
        function checkHidden() {

            $(".ui-helper-hidden-accessible").hide();
        }

        setInterval(checkHidden, 100);

    </script>
</head>
<body>
    <div>

        @using (Html.BeginForm("Search", "Inventory"))
        {
            


            <div id="form" class="form-wrapper">
                <input id="search" class="suggestionsinput" name="code" type="text" placeholder="Nhập mã sản phẩm" required />
                
                <button type="submit" value="Search" id="submit">Tìm  </button>
            </div>

            


        }


        <table>
            <tr>
              
              
               @foreach (tb_inventory_name name in (List<tb_inventory_name>)ViewData["allInvenName"])
               {
                <td>
                    @using (Html.BeginForm("SearchGetAll", "Inventory"))
                    {
                        <div style="display:none"> <input name="idd" value="@name.id"/> </div>
                        <div id="form" class="form-wrapper">      <button type="submit" value="Search" id="submit2">Duyệt @name.InventoryName  </button></div>
                    }
                </td>

               }

                
          

            </tr>
        </table>

    </div>
    <div>
        @if (ViewData["allInven"] != null &&
                 ((List<InventoryView>)ViewData["allInven"]).Count() > 0)
        {
            String name = ((InventoryView)((List<InventoryView>)ViewData["allInven"]).ElementAt(0)).invendetail.tb_inventory_name.InventoryName;
            <h1> Thông tin kho @name</h1>
            <table class="responstable">
                <tr>
                    <th>tên</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
            
                </tr>
                @foreach (InventoryView i in (List<InventoryView>)ViewData["allInven"]) {

                    <tr>
                        <td> @i.productdetail.productName </td>
                        <td> @i.productdetail.price </td>
                        <td> @i.invendetail.quantity </td>
                    </tr>
                }

            </table>

        }

        @if (ViewData["productdetail"] != null)
            
        {
            tb_product_detail t = (tb_product_detail)ViewData["productdetail"];
            //String srcImage = t.description.Substring(t.description.IndexOf("<img>") + 4, t.description.IndexOf("</img>"));

            <table class="responstable">

              <td>
                    <p>Name: @t.productName</p>
                    <p>Factory Code: @t.producFactoryID</p>
                    <p>Store Code: @t.productStoreID</p>
                    <p>Giá: @t.price VND</p>
                </td>


            </table>


        }
        


        @if ((List<inventory>)ViewData["dsspdt"] != null
                       && ((List<inventory>)ViewData["dsspdt"]).Count() >0)
                    {
                        List<SelectListItem> ls = new List<SelectListItem>
                        {
                        };
                        foreach (var item in (List
                                <inventory>
                                    )ViewData["dsspdt"])
                        {
                            ls.Add(new SelectListItem { Text = item.tb_inventory_name.InventoryName + "" , Value = item.id+"" });
                        }
            <h1> Số lượng tại các kho:</h1>
            <table class="responstable" border="1">
                <tr>
                    <th> Tên Kho </th>
                    <th>  Số Lượng </th>
                    <th>  Chỉnh sửa </th>
                </tr>

               @foreach (var item in (List
                <inventory>
                    )ViewData["dsspdt"])
                {

                   // using (Html.BeginForm("Update", "Warranty"))
                  //  {
                  
                        <tr>
                            <td>@item.tb_inventory_name.InventoryName</td>

                            <td>
                               @item.quantity
                                </td>
                            <td>
                                <button type="button" class="btn btn-info btn-lg" data-toggle='modal' data-target="#@(item.id + "model")">Nhập kho</button>
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#@(item.id + "modelR")">Xuất kho</button>
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#@(item.id + "modelM")">Chuyển kho</button>
                            </td>
                            <div class="modal fade" id='@(item.id + "model")' role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal add content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Nhập vào kho</h4>
                                        </div>
                                        <div class="modal-body">
                                            @using (Html.BeginForm("addkho", "Inventory"))
                                            {
                                                inventory t = item;
                @model ThienNga2.Models.ViewModel.InvenotyChangeModel
            <div class="form-style-10">
                                                <form>

                                                    <div class="section"><span></span>Thông tin sản phẩm</div>
                                                    <div class="inner-wrap">
                                                        <div style="display:none"> @Html.TextBoxFor(Model => @Model.inven.id, new { @Value = t.id }) </div>
                                                        <div style="display:none"> @Html.TextBoxFor(Model => @Model.inven.productFactoryCode, new { @Value = t.productFactoryCode }) </div>
                                                        <label>Tên kho : @t.tb_inventory_name.InventoryName </label>
                                                        <label>Số lượng hiện tại : @t.quantity </label>
                                                        <label>Nhập thêm:  @Html.TextBoxFor(Model => @Model.newadd)</label>


                                                    </div>
                                                    <div class="button-section">
                                                        <input type="submit" name="Thêm" />

                                                    </div>
                                                </form>
                                            </div>
                                            }
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>


                                </div>
                            </div>    
                            <!-- Modal remove content-->
                            <div class="modal fade" id='@(item.id + "modelR")' role="dialog">
                                <div class="modal-dialog">

                                    
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Nhập vào kho</h4>
                                        </div>
                                        <div class="modal-body">
                                            @using (Html.BeginForm("removeKho", "Inventory"))
                                            {
                                            inventory t = item;

                                            <div class="form-style-10">
                                                <form>


                                                    <div class="inner-wrap">
                                                        <div style="display:none"> @Html.TextBoxFor(Model => @Model.inven.id, new { @Value = t.id }) </div>
                                                        <div style="display:none"> @Html.TextBoxFor(Model => @Model.inven.productFactoryCode, new { @Value = t.productFactoryCode }) </div>
                                                        <label>Số lượng hiện tại : @t.quantity </label>
                                                        <label>Trừ ra:  @Html.TextBoxFor(Model => @Model.newadd)</label>


                                                    </div>
                                                    <div class="button-section">
                                                        <input type="submit" name="Trừ" />

                                                    </div>
                                                </form>
                                            </div>
                                            }
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>


                                </div>
                            </div>   
                            <!-- Modal change content-->
                            <div class="modal fade" id='@(item.id + "modelM")' role="dialog">
                                <div class="modal-dialog">


                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Nhập vào kho</h4>
                                        </div>
                                        <div class="modal-body">
                                            @using (Html.BeginForm("changeKho", "Inventory"))
                                            {
                                                inventory t = item;

                                                <div class="form-style-10">
                                                    <form>


                                                        <div class="inner-wrap">
                                                            <div style="display:none"> @Html.TextBoxFor(Model => @Model.inven.id, new { @Value = t.id }) </div>
                                                            <div style="display:none"> @Html.TextBoxFor(Model => @Model.inven.productFactoryCode, new { @Value = t.productFactoryCode }) </div>
                                                            <label>Số lượng hiện tại : @t.quantity </label>
                                                            <label>Số lượng cần chuyển:  @Html.TextBoxFor(Model => @Model.newadd)</label>
                                                            @* I use some cheat here, hue hue hue , use productStoreCode as a carrier for my 2nd inventory ID....... *@
                                                            <label> Chọn kho để chuyển: @Html.DropDownListFor(Model => Model.inven.productStoreCode , ls)</label>

                                                        </div>
                                                        <div class="button-section">
                                                            <input type="submit" name="Trừ" />

                                                        </div>
                                                    </form>
                                                </div>
                                            }
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>


                                </div>
                            </div>     
                        
                        </tr>

                    // }
                  
                }
            </table>


        }
        @if (ViewData["productdetail"] != null
                                )
        {
            <h1> Thông tin mô tả sản phẩm</h1>
            tb_product_detail t = (tb_product_detail)ViewData["productdetail"];

            <div>
        
             @Html.Raw(t.description)
               
            </div>


        }
    </div>
   
</body>
</html>
