@using ThienNga2.Models;
@using ThienNga2.Models.Entities;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewProduct</title>
    <link rel="stylesheet" type="text/css" href="~/Content/formTemplate.css">
    <script>
        $(document).ready(function () {
            $('#search').autocomplete({
                source: '@Url.Action("Autocomplete")'

            })
                .data("ui-autocomplete")._renderItem = function (ul, item) {
                    return $("<li>")
                      .data("ui-autocomplete-item", item)
                      .append('<a style="color:black">' + item.label +"</a>")
                      .appendTo(ul);
                };


        });
        function checkHidden() {

            $(".ui-helper-hidden-accessible").hide();
        }

        setInterval(checkHidden, 100);

    </script>

</head>
<body>
    @using (Html.BeginForm("Search3", "Inventory"))
    {


        <div id="form" class="form-wrapper">
            <input id="search" class="suggestionsinput" name="code" type="text" placeholder="Nhập mã sản phẩm" required />

            <button type="submit" value="Search" id="submit">Tìm  </button>
        </div>




    }

    @if (ViewData["productdetail"] != null
                                            )
    {
        <div class="section"><span></span>Thông tin sản phẩm</div>
        tb_product_detail t = (tb_product_detail)ViewData["productdetail"];
        <table class="responstable">
            <td> <img src="http://wetrek.vn/pic/Service/duyanh.wetrek.vn@gmail.com/images/dji-trinh-lang-may-bay-dieu-khien-tu-xa-the-he-moi-phantom-3-wetrek_vn.jpg" width="500" height="auto" /></td>
            <td>
                <p>Name: @t.productName</p>
                <p>Factory Code: @t.producFactoryID</p>
                <p>Store Code: @t.productStoreID</p>
                <p>Price: @t.price $</p>
            </td>

        </table>


    }

    @if (ViewData["inventoryDetail"] != null)
    {



        using (Html.BeginForm("removeKho", "Inventory"))
        {
            inventory t = (inventory)ViewData["inventoryDetail"];

            @model ThienNga2.Models.ViewModel.InvenotyChangeModel
            <div class="form-style-10">
                <form>

                    
                    <div class="inner-wrap">
                        <div style="display:none"> @Html.TextBoxFor(Model => @Model.inven.id, new { @Value = t.id }) </div>
                        <div style="display:none"> @Html.TextBoxFor(Model => @Model.inven.productFactoryCode, new { @Value = t.productFactoryCode }) </div>
                        <label>Số lượng hiện tại : @t.quantity </label>
                        <label>Trừ ra:  @Html.TextBoxFor(Model => @Model.newadd)</label>


                    </div>
                    <div class="button-section">
                        <input type="submit" name="Trừ" />

                    </div>
                </form>
            </div>
        }
    }



</body>
</html>
