@using ThienNga2.Models.ViewModel;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confrim hóa đơn </title>
    <link rel="stylesheet" type="text/css" href="~/Content/SearchBar.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Table.css">
    <script src="http://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="~/Content/jquery-ui.css" type="text/css">
</head>
<body>
    @if (ViewData["tuple"] != null)
    {
        NewItemViewModel act = (NewItemViewModel)ViewData["tuple"];
        double pricetotal = 0;

        <div>
            <h1> Xác nhận thông tin bán hàng  </h1>
            <table class="responstable">
                <tr>
                    <td>
                        SDT khách hàng
                    </td>
                    <td>
                        @act.phoneNumber
                    </td>
                </tr>
                <tr>
                    <td>
                        Tên
                    </td>
                    <td>
                        @act.cusName
                    </td>
                </tr>
                </table>
               @if (ViewData["ConfirmItemViewList"] != null)
               { List<ConfirmItemView> lst = (List<ConfirmItemView>)ViewData["ConfirmItemViewList"];
                   foreach (ConfirmItemView viewitem in lst)
                   {
                       pricetotal = viewitem.price + pricetotal;
                <table class="responstable">
               
                    
                    <tr>
                        <td>
                            Tên sản phẩm
                        </td>
                        <td>
                            @viewitem.itemName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Số lượngn
                        </td>
                        <td>
                            @viewitem.quantity
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Giaá
                        </td>
                        <td>
                          
                            @viewitem.price
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Các code để nhập bảo hành (hãy lưu lại)
                        </td>
                        <td>
                            @foreach (String t in viewitem.lst )
                            {
                                @t  <br />
                            }
                        </td>
                    </tr>
                </table>
                   }
               }
                <table class="responstable">
                    <tr>
                        <td>
                            @using (Html.BeginForm("Delete", "ProductItem"))
                            {
                                String deleteID = (String) ViewData["todelete"];


                              <input type="hidden" value="@deleteID" name="todelete" />
                                <button type="submit" name="Edit" value="Sửa"> Xóa </button>
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("Confirm", "ProductItem"))
                            {

                                <button type="submit" name="Edit" value="Hoàn tất">Hoàn tất</button>
                            }
                        </td>


                    </tr>

                </table>
        </div>
    }

</body>
</html>
