@using ThienNga2.Models.ViewModel;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confrim hóa đơn </title>
    <link rel="stylesheet" type="text/css" href="~/Content/SearchBar.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Table.css">
    <script src="http://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="~/Content/jquery-ui.css" type="text/css">
</head>
<body>
    <h1>Phiếu báo giá</h1>
    @if ((NewItemViewModel)TempData["tuple"] != null)
    {
    NewItemViewModel a = (NewItemViewModel)TempData["tuple"];


   
    <table class="responstable">


        <tr> <td> Tên Khách </td><td>  @a.cusName </td></tr>
        <tr> <td>Sdt</td><td> @a.phoneNumber </td></tr>
        <tr>
            <th>
                Mã unit
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Đơn giá trên 1 sản phẩm
            </th>
         
            <th>
                Chiết Khấu phần trăm
            </th>
            <th>
                Chiết Khấu trực tiếp
            </th>
            <th>
                Thành tiền
            </th>
        </tr>
        @for (int i = 0 ; i < a.items.Count; i ++)
        {
            AnOrderDetail ao = a.items[i];
            if (ao.quantity > 0)
            {

                float thanhtien = (ao.thanhTien);
                Convert.ToDecimal(thanhtien).ToString("#,##0.00");
                float dongia = (ao.thanhTien / ao.quantity);
                Convert.ToDecimal(dongia).ToString("#,##0.00");
                float chietkhautt =( (ao.chietKhauTrucTiep));
                Convert.ToDecimal(chietkhautt).ToString("#,##0.00");

            <tr>
                <td> @ao.productID</td>
                <td> @ao.productName</td>
                <td> @ao.quantity</td>
                <td> @ao.DonGiaS </td>
                <td> @(ao.chietKhauPhanTram + "")</td>
                <td> <font size="2"> @ao.chietKhauTrucTiepS</font></td>
                <td> <font size="2"> @ao.thanhTienS</font></td>
            </tr>
            }
        }
        </table>
        <table class="responstable">
            <tr>
                <td>
                    @using (Html.BeginForm("Delete", "ProductItem"))
                    {
                        String deleteID = (String)ViewData["todelete"];


                        <input type="hidden" value="@deleteID" name="todelete" />
                        <button type="submit" name="Edit" value="Sửa"> Xóa </button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("Confirm", "ProductItem"))
                    {

                        <button type="submit" name="Edit" value="Hoàn tất">Hoàn tất</button>
                    }
                </td>


            </tr>

        </table>
  
        }

</body>
</html>
