@using ThienNga2.Models;
@using ThienNga2.Models.Entities;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewProductItem</title>
    <link rel="stylesheet" type="text/css" href="~/Content/formTemplate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/SearchBar.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Table.css">
    <script src="http://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="~/Content/jquery-ui.css" type="text/css">
    <style>
        .form-control { 
             border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
    </style>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js">
    </script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js">
    </script>
    <script>
        var temp = ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""];
        function checkHidden() {
            for (i = 1 ; i < 20; i++) {
           
                if ($('#items_' + (i - 1) + '__SKU').val() == "") {
                    $('#items_' + (i - 1) + '__SKU').css("background-color", "white");
                    $('#divid' + i).hide();
                }
                else {
                    if ($('#items_' + (i - 1) + '__SKU').val() != temp[i - 1]) {
                        temp[i - 1] = $('#items_' + (i - 1) + '__SKU').val();
                        checkPrice($('#items_' + (i - 1) + '__SKU').val(), i);
                    }
                    updatePrice(i);
                    $('#divid' + i).show();
                }
            }

        };
        setInterval(checkHidden, 100);
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        function updatePrice(index) {
            var tempstr = $('#items_' + (index - 1) + '__DonGiaS').val();
            while(tempstr.indexOf(',')!=-1)tempstr= tempstr.replace(',','');
            var temp = parseFloat(tempstr);
            var quantity = $('#items_' + (index - 1) + '__quantity').val();
            var CKTT = $('#items_' + (index - 1) + '__chietKhauTrucTiep').val();
            var CKPT = $('#items_' + (index - 1) + '__chietKhauPhanTram').val();
            var temp3 = temp * quantity * (100 - CKPT)/100 - CKTT;
            $('#items_' + (index - 1) + '__thanhTien').val(numberWithCommas(temp3));
        }
        function checkPrice(name, index) {
            var flag = false;
        
            $.getJSON("/ProductItem/getAllData?name="+name, function (result) {
             
                $.each(result, function (name, value) {
                    if (name == "name") {
                        flag = true;
                        if(value != null) 
                        $('#items_' + (index - 1) + '__SKU').css("background-color", "green");
                    }
                    if (name == "price") {
                        if (flag && value!= null) {
                   
                            $('#items_' + (index - 1) + '__DonGiaS').val(numberWithCommas(value));
                        }
                    }
                })
            });
            if (!flag) {
                $('#items_' + (index - 1) + '__SKU').css("background-color", "red");
            }
        };
        $(document).ready(function () {
           
            for (i = 0; i < 20 ; i++) {
                $('#items_' + (i ) + '__SKU').autocomplete({

                    source: '@Url.Action("Autocomplete")'

                })
                    .data("ui-autocomplete")._renderItem = function (ul, item) {
                        return $("<li>")
                          .data("ui-autocomplete-item", item)

                          .append('<a style="color:black">' + item.label + "</a>")
                          .appendTo(ul);
                    };
            }

        });
    </script>
    
</head>
<body>

    @model ThienNga2.Models.ViewModel.NewItemViewModel

    @using (Html.BeginForm("CreateWhenSale", "ProductItem"))
    {
        List<SelectListItem> ls2 = new List<SelectListItem>();

        ls2.Add(new SelectListItem { Text ="Kho sài gòn", Value = "1" });
        ls2.Add(new SelectListItem { Text = "Kho Hà nội", Value = "2" });
        ls2.Add(new SelectListItem { Text = "Kho Tổng", Value = "3" });




        <div class="form-style-10">
            <h1>Tạo đơn hàng<span>Bán hàng</span></h1>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <form>
                @*<label>Ngày/tháng/năm @Html.TextBoxFor(Model => Model. , new { @class = "form-control" }) </label>*@
                <div class="section"><span>1</span>Thông tin khách hàng</div>
                <div class="inner-wrap">
                    <label>Tên khách hàng @Html.TextBoxFor(Model => Model.cusName, new { @class = "form-control" })</label>
                    <label>SDT @Html.TextBoxFor(Model => Model.phoneNumber, new { @class = "form-control" })</label>
                    <label>Địa chỉ @Html.TextBoxFor(Model => Model.Adress, new { @class = "form-control" })</label>
                </div>

                <div class="section"><span>2</span>Thông tin sản phẩm</div>
                <table class="responstable">
                    <label>Lấy từ kho @Html.DropDownListFor(Model => Model.inventoryID, ls2)</label>
                    @for (var i = 0; i < Model.items.Count; i++)
                {
                    string idd = "divid" + i;
                    string thanhtienID = "thanhtien" + idd;
                        @*<div class="inner-wrap" id="@idd">*@
                            <tr id="@idd">
                                <td >
                                    <label>Tên/Mã nhà máy/Mã cửa hàng @Html.TextBoxFor(Model => Model.items[i].SKU, new { @class = "form-control" })</label>
                                </td>
                                <td>

                                    <label>Đợn giá @Html.TextBoxFor(Model => Model.items[i].DonGiaS, new { @class = "form-control", value = "0" })</label>
                                </td>
                                <td>
                                 
                                    <label>Số lượng @Html.TextBoxFor(Model => Model.items[i].quantity, new { @class = "form-control", value = "1" })</label>
                                </td>
                                <td>
                        
                                    <label>Thành tiền @Html.TextBoxFor(Model => Model.items[i].thanhTien, new { @class = "form-control", value = "0"})</label>
                                </td>
                                <td>
                                
                                    <label>Chiết khấu % @Html.TextBoxFor(Model => Model.items[i].chietKhauPhanTram, new { @class = "form-control", value = "0", @type = "number" })</label>
                                </td>
                                <td>
                              
                                    <label>Chiết khấu trực tiếp @Html.TextBoxFor(Model => Model.items[i].chietKhauTrucTiep, new { @class = "form-control", value = "0" , @type = "number" })</label>
                                </td>
                               
                            
                               
                            </tr>


                        @*</div>*@
                    }

                </table>
                <div class="button-section">
                    <input type="submit" name="Hoàn tất" />
                   
                </div>
            </form>
        </div>
       

    }




</body>
</html>
