
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewProduct</title>
    <link rel="stylesheet" type="text/css" href="~/Content/formTemplate.css">
    <script>
        var sku = "";
        function checkPD() {
             
            if ($("#productStoreID").val() != sku) {
                sku = $("#productStoreID").val();
                $.getJSON("/ProductDetail/getAllData?sku=" + sku, function (result) {
                    $.each(result, function (name, value) {
                        if (name == "productName") { $("#productName").val(value); }
                        if (name == "minThresHold") { $("#minThresHold").val(value); }
                        if (name == "factCoe") { $("#producFactoryID").val(value); }
                        if (name == "price") { $("#price").val(value); }
                    });

                });
            }
        }
        setInterval(checkPD, 100);
    </script>
</head>
<body>
    @using (Html.BeginForm("Create", "ProductDetail"))
    {
        @model ThienNga2.Models.Entities.tb_product_detail
        <div class="form-style-10">
            <form>

                <div class="section"><span></span>Thông tin sản phẩm</div>
                <div class="inner-wrap">
                    <label>Tên sản phẩm @Html.TextBoxFor(Model => Model.productName)</label>
                    <label>Mã nhà máy @Html.TextBoxFor(Model => Model.producFactoryID)</label>
                    <label>Mã cửa hàng @Html.TextBoxFor(Model => Model.productStoreID)</label>
                    <label>Giá @Html.TextBoxFor(Model => Model.price)</label>
                    <label>Số luọng giới hạn @Html.TextBoxFor(Model => Model.minThresHold)</label>

                </div>
                <div class="button-section">
                    <input type="submit" name="Tạo" />

                </div>
            </form>
            </div>
            }

    <h1> Update thông tin từ file xml</h1>

    @using (Html.BeginForm("UpdateFromXML", "ProductDetail", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (ViewData["updateResult"] != null) {
            String resultttt = (String) ViewData["updateResult"];
            <h2> @resultttt</h2>
        }
    <input type="file" name="file" />
    <div class="button-section">
        <input type="submit" value="Upload" />
    </div>
    }
</body>
</html>
