@using ThienNga2.Models.Entities;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewProduct</title>
    <link rel="stylesheet" type="text/css" href="~/Content/formTemplate.css">
    <script src="//code.jquery.com/jquery-1.12.3.js"> </script>
    <script>
        var sku = "";
        var factt = "";
        var active1 = true;
        var active2 = true;
        function checkPD() {
            var ii = 0;
           
            if ($("#productStoreID").val() != sku) {
               
                sku = $("#productStoreID").val();
                $.getJSON("/ProductDetail/getAllData?sku=" + sku, function (result) {
                    $.each(result, function (name, value) {
                        if (name == "productName") {
                            if (value != "") {
                                active1 = false;
                                $('#productStoreID').css("background-color", "red");
                                $('#productStoreID').css("color", "white");
                            }
                            else {
                                active1 = true;
                                $('#productStoreID').css("background-color", "white");
                                $('#productStoreID').css("color", "black");
                            }
                        }
                    });

                });
              

            }
          
            if ($("#producFactoryID").val() != factt) {
                var flag2 = true;
                factt = $("#producFactoryID").val();
                $.getJSON("/ProductDetail/getAllData?sku=" + factt, function (result) {
                    $.each(result, function (name, value) {
                        if (name == "productName") {
                            if (value != "") {
                                 active2 = false;
                                $('#producFactoryID').css("background-color", "red");
                                $('#producFactoryID').css("color", "white");
                            }
                            else {
                                 active2 = true;
                                $('#producFactoryID').css("background-color", "white");
                                $('#producFactoryID').css("color", "black");
                            }
                          
                        }
                    });

                });
        
            }
            if (!active2 || !active2) {
                $('#gui').prop('disabled', true);
            }
            else {
                $('#gui').prop('disabled', false);
            }
        }
        
        setInterval(checkPD, 100);

    </script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"> </script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"> </script>
    <script>
        $(document).ready(function () {
            $('#datatable').dataTable({
                "aaSorting": [[0, "desc"]]
            });
        });
    </script>
    <script>
        function unlock(index) {
            $("#" + index + "SKU").prop("disabled", "");
            $("#" + index + "FAC").prop("disabled", "");
            $("#" + index + "NAME").prop("disabled", "");
            $("#" + index + "PRICE").prop("disabled", "");
            $("#" + index + "MIN").prop("disabled", "");
            $("#" + index + "btn2").show();
            $("#" + index + "btn3").show();
            $("#" + index + "btn1").hide();
        };
        function lock(index) {
            $("#" + index + "SKU").prop("disabled", "disabled");
            $("#" + index + "FAC").prop("disabled", "disabled");
            $("#" + index + "NAME").prop("disabled", "disabled");
            $("#" + index + "PRICE").prop("disabled", "disabled");
            $("#" + index + "MIN").prop("disabled", "disabled");
            $("#" + index + "btn1").show();
            $("#" + index + "btn2").hide();
            $("#" + index + "btn3").hide();
        };
        function edit(index) {
            var newSKU = $("#" + index + "SKU").val();
            var newFACT = $("#" + index + "FAC").val();
            var newPrice = $("#" + index + "PRICE").val();
            var newThres =$("#" + index + "MIN").val();
            var newName =$("#" + index + "NAME").val();
            $.getJSON("/ProductDetail/fixxit?id=" + index + "&name=" + newName + "&SKU=" + newSKU + "&factCode=" + newFACT + "&price=" + newPrice + "&mini=" + newThres, function (result) {
                $.each(result, function (name, value) {
                    if (name == "name") { 
                        if (value != "") { 
                            alert("Chỉnh sửa thành công"); 
                            lock(index);
                        }
                    }

                });

            });
        };
    </script>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
    <style>
        body {
            background: url('') no-repeat center center fixed;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Create", "ProductDetail"))
    {
        @model ThienNga2.Models.Entities.tb_product_detail
        <div class="form-style-10">
            <form>

                <div class="section"><span></span>Thông tin sản phẩm</div>
                <div class="inner-wrap">
                    <label>Tên sản phẩm @Html.TextBoxFor(Model => Model.productName)</label>
                    <label>Mã nhà máy @Html.TextBoxFor(Model => Model.producFactoryID)</label>
                    <label>Mã cửa hàng @Html.TextBoxFor(Model => Model.productStoreID)</label>
                    <label>Giá @Html.TextBoxFor(Model => Model.price)</label>
                    <label>Báo khi số lượng thấp hơn @Html.TextBoxFor(Model => Model.minThresHold)</label>

                </div>
                <div class="button-section">
                    <input id="gui" type="submit" value="XÁC NHẬN" />

                </div>
            </form>
        </div>
    }

    <h1> Update thông tin từ file xml</h1>

    @using (Html.BeginForm("UpdateFromXML", "ProductDetail", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (ViewData["updateResult"] != null)
        {
            String resultttt = (String)ViewData["updateResult"];
            <h2> @resultttt</h2>
        }
        <input type="file" name="file" />
        <div class="button-section">
            <input type="submit" value="Upload" />
        </div>
    }
    <div>
        @if (ViewData["last50"] != null) {
                <table id="datatable"  class="table table-striped table-bordered" cellspacing="0" width="100%"  data-sort-name="ID" data-sort-order="desc">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>SKU</th>
                            <th>Mã nhà máy</th>
                            <th>Giá</th>
                            <th>Tên</th>
                            <th>Số lượng tối thiểu</th>
                            <th>Chỉnh sửa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (tb_product_detail dt in (List<tb_product_detail>)ViewData["last50"])
                        {
                            <tr>
                                <td>@dt.id
                                   <input type="hidden" id="@(dt.id+"ID")" value="@dt.id"/>
                                </td>
                                <td>
                                    <input type="text" id="@(dt.id+"SKU")" value="@dt.productStoreID" disabled="disabled" />
                                </td>
                                <td>
                                    <input type="text" id="@(dt.id+"FAC")" value="@dt.producFactoryID" disabled="disabled" />
                                </td>
                                <td>
                                    <input type="text" id="@(dt.id+"PRICE")" value="@(Convert.ToDecimal(dt.price).ToString("#,##0");)" disabled="disabled" /></td>
                                <td>                   
                                <input type="text" id="@(dt.id+"NAME")" value="@dt.productName" disabled="disabled" />                 
                                </td>
                                <td><input type="text" id="@(dt.id+"MIN")" value="@dt.minThresHold" disabled="disabled" /></td>
                                <td> 
                                    <button id="@(dt.id+"btn1")" onclick="unlock(@dt.id)" >Chỉnh sửa</button>
                                    <button id="@(dt.id+"btn3")" hidden="hidden" onclick="lock(@dt.id)">Hủy</button>
                                    <button id="@(dt.id+"btn2")" hidden="hidden" onclick="edit(@dt.id)">XÁC NHẬN</button>
                                </td>
                             
                            </tr>
                        }
                    </tbody>

                </table>
        }
    </div>
</body>
</html>
