
@using ThienNga2.Models.Entities;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WarrantyList</title>
    <script src="//code.jquery.com/jquery-1.12.3.js"> </script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"> </script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"> </script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>


    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
    <style>
        body {
            background: url('') no-repeat center center fixed;
        }
    </style>
</head>
<body>
    <div>
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Tên nhóm</th>
                    <th>Màu</th>
                    <th>Số khách thuộc nhóm này</th>
                    <th>Số sản phẩm thuộc nhóm này</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (CustomerType wact in (List<CustomerType>)ViewData["typleList"])
                {
                    //   String linkEdit = "Customer/Search?code=" + wact.id;
                    String linkEdit = "";
                    <tr>
                        <td>
                            @wact.GroupName
                        </td>
                        <td  bgcolor="@wact.Color">
                            @wact.Color
                        </td>
                        <td>
                            @wact.tb_customer.ToList().Count()
                        </td>
                        <td>
                            @wact.items.ToList().Count()
                        </td>
                        <td>
                            <a href="@linkEdit">Xóa</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <tr>
                <th colspan="3">
                    Tạo mới
                </th>
            </tr>
            <tr>
                <th>
                    Tên nhóm
                </th>
                <th>
                    Màu
                </th>
                <th>
                   Hoàn tất
                </th>
            </tr>
            <tr>
             @using (Html.BeginForm("CreateGroup", "Customer", FormMethod.Post)) {
                 <td>
                     <input value="" name="name" type="text" />
                 </td>
                <td>
                    <input value="" name="color" type="color" />
                </td>
                <td>
                    <input value="Tạo" name="color" type="submit" />
                </td>
             }
            </tr>

        </table>
    </div>
</body>
</html>
