@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
    
            
            <a id="empname"></a>
            <input type="hidden" value="@User.Identity.GetUserName()" id="username" />
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
<script>
    $.getJSON("/Warranty/getTen?email=" + "@User.Identity.GetUserName()", function (result) {
        $.each(result, function (name, value) {
            if (name == "fullname") { $("#empname").text("Xin chào "+value); }        
        });

    });
</script>
