
@using ThienNga2.Models.Entities;

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Inventory</title>
    <link rel="stylesheet" type="text/css" href="~/Content/SearchBar.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Table.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css" type="text/css">
    <script src="http://www.google.com/jsapi"></script>

    <script>

        $(document).ready(function () {
            $("#XacNhanSua").val($("#username").val());
            $('#CodeText').autocomplete({
                source: '@Url.Action("Autocomplete")'

            });
            $(".ui-helper-hidden-accessible").hide();
            $('#item_status').click(function () {

                if ($('#item_status').val() == 4) {
                    $("#dateBanGiao").attr('style', '');
                }
                if ($('#item_status').val() == 4) {
                    $("#dateFinish").attr('style', '');
                }

            });

            $('#startWarranty').click(function () {
                $('#newWarrantyForm').attr('style', '');
            });



        });
    </script>
    <script>
        $(document).ready(function () {
            $("#XacNhanSua").val($('input#username').val());
            var t = $("#empname").text();
            t = t.substr(9, t.length-1);
       
            $("#XacNhanSua").text(t + " xin xác nhận chịu trách nhiệm sữa chữa thiết bị này");
            $("#iduser").val($('input#username').val());
    
            $("#idwar").val($("#codebaohanh").val());

            $('#searchID').autocomplete({
                source: '@Url.Action("Autocomplete")'

            })
                .data("ui-autocomplete")._renderItem = function (ul, item) {
                    return $("<li>")
                      .data("ui-autocomplete-item", item)

                      .append('<a style="color:black">' + item.label + "</a>")
                      .appendTo(ul);
                };


        });
        function checkHidden() {

            $(".ui-helper-hidden-accessible").hide();
        }


        setInterval(function () { loadprice($('#searchID').val(), $('#quantitySKU').val()); }, 100);
        var skupicked = $('#searchID').val();
        var quanitypicked = $('#quantitySKU').val();
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        function loadprice(val1, val2) {

            if (val1 != '' && val2 != '' && (val1 != skupicked || val2 != quanitypicked) && val2) {
                skupicked = val1;
                quanitypicked = val2;
                $.get('@(Url.Action("loadPrice", "Warranty",null, Request.Url.Scheme))?code=' + encodeURIComponent(val1) + '&quantity=' + encodeURIComponent(quanitypicked), function (result) {
                    if (result != 0) {
                        $('#skuprice').val(numberWithCommas(result));
                        $('#skuprice').prop('readonly', true);
                        $("#searchID").css("background-color", "green");
                        $("#searchID").css("color", "white");
                    }
                    else {
                        $("#searchID").css("background-color", "red");
                        $("#searchID").css("color", "white");
                    }

                });
            }

        }
        setInterval(checkHidden, 100);
        setInterval(loadprice, 100);
    </script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"> </script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"> </script>


    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
</head>
<body>

    <div>
        @using (Html.BeginForm("Search", "Warranty"))
                {
   
            <div id="form" class="form-wrapper">
                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <tr>
                        <td>
                            <input id="search" class="suggestionsinput" name="code" type="text" placeholder="Nhập mã hóa đơn/mã sản phẩm " required />
                        </td>
                        <td>
                            <button type="submit" value="Search" id="submit">Tìm  </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Tìm theo

                            <input type="radio" name="searchType" checked="checked" value="warrantyCODE"> Mã hóa đơn bảo hành
                            <input type="radio" name="searchType" value="item">Mã sản phẩm <br />
                            <input type="radio" name="searchType" value="warrantyIMEI">  Mã IMEI
                            <input type="radio" name="searchType" value="warrantyCODEDate"> Ngày tháng
                            <input type="radio" name="searchType" value="warrantyCODEPhone">Số điện thoại
                   
                        </td>
                    </tr>
                </table>
       

            </div>




        }



    </div>
    <div>

        @if (ViewData["warrantyDetail"] != null
                                                        )
        {
            tb_warranty t =(tb_warranty) ViewData["warrantyDetail"];


            {
                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <tr>
                        <td>
                            <p>IMEI sản phẩm: @t.warrantyID </p>

                            <p>Ngày Kích Hoạt: @t.startdate</p>
                            <p>Ngày hết hạn: @(((DateTime)t.startdate).AddMonths(t.duration))</p>
                            @using (Html.BeginForm("ConfirmBaoHanh", "Warranty"))
                            {
                                <input type="hidden" id="idwar"  name ="idwar" value=""/>
                                <input type="hidden" id="iduser" value=""  name="iduser"/>
                                <button id="XacNhanSua" value="">xác nhận chịu trách nhiệm sữa chữa thiết bị này</button>
                            }
                           
                        </td>
                        <td align="center">
                            @if (((DateTime)t.startdate).AddMonths(t.duration) < DateTime.Now)
                            {
                                <img  width="auto" height="auto" src = "/Content/images/red.png" />
                            }
                            else {
                                if (t.Special == 1)
                                {
                                    <img  src = "/Content/images/special.png" width="300" height="300" />
                                }
                                else {
                                    <img width="300" height="300"src = "/Content/images/green.png" />
                                }
                            }
                        </td>
                    </tr>

                </table>
            }



        }
        @if (ViewData["lsbh"] != null && ((List
        <tb_warranty_activities>
            )ViewData["lsbh"]).Count == 1)
        {
            bool flag = false;
            foreach (var item in (List
            <tb_warranty_activities>
                )ViewData["lsbh"])
            {

                if (item.status != 4)
                {
                    flag = true;
                    List<SelectListItem> ls = new List<SelectListItem> {
     new SelectListItem { Text = "Đang kiểm tra", Value = "1"},
     new SelectListItem { Text = "Đang sửa chữa", Value = "2"},
     new SelectListItem { Text = "Hoàn tất sửa chữa", Value = "3"},
     new SelectListItem { Text  = "Đã bàn giao",Value="4"}

  };

                    
                    using (Html.BeginForm("Update", "Warranty"))
                    {

                        <input type="hidden" name="actid" value="@item.id"/>
                        
                            <input type="hidden" id="codebaohanh" value="@item.CodeBaoHanh" />
                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <tr>
                                <th colspan="2">   
                                    <h6>Quản lý quy trình bảo hành của mã bảo hành : @item.CodeBaoHanh </h6>
                                </th>
                            </tr>
                            <tr>
                                <td>Ngày tiếp nhận : </td>
                                <td>@(item.startDate.Day+"/"+item.startDate.Month+"/" + item.startDate.Year) </td>
                            </tr>
                            <tr>
                                <td>Nhân viên nhận:</td>
                                <td> @item.AspNetUser.FullName </td>
                            </tr>
                            <tr>
                                <td>Nhân viên đang sửa:</td>
                                <td> @if (item.AspNetUser1 != null) {
                                        @item.AspNetUser1.FullName
                                } </td>
                            </tr>
                            <tr>
                                <td>Tình trạng lúc nhận:</td>
                                <td>@item.Description</td>
                            </tr>


                            <tr>
                                <td>Trạng thái hiện tại </td>
                                <td> @item.tb_warrnaty_status.statusName </td>

                            </tr>

                            <tr>
                                <td>Chuyển trạng thái thành  </td>
                                <td id="statusWar">@Html.DropDownListFor(Model => item.status, ls, new { Name= "itemstatus" , Value=item.status})</td>

                            </tr>

                            <tr id="dateBanGiao" style="display: none;">
                                <td>Ngày bàn giao  </td>
                                <td> Ngày <input type="text" name="day1" />Tháng  <input type="text" name="month1" />Năm<input type="text" name="year1" /></td>
                            </tr>

                            <tr></tr>

                            <tr id="dateFinish" style="display: none;">
                                <td>Ngày sửa xong  </td>
                                <td> Ngày <input type="text" name="day2" />Tháng  <input type="text" name="month2" />Năm<input type="text" name="year2" /></td>
                            </tr>

                            <tr>
                                <td colspan="2" align="center">
                                    <button  type="submit">Cập nhật trạng thái bảo hành</button>
                                </td>
                            </tr>

                        </table>


                    }
                   <br /><br /><br />
                    <table id="fee" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <tr>
                            <th colspan="5">
                                <h6>Linh kiện thay mới</h6>
                            </th>
                        </tr>
                        <tr>
                            <th> Tên Linh Kiện </th>
                            <th> Số lượng</th>
                            <th> Phí thay thế</th>
                            <th> Thêm</th>
                            <th> Xóa</th>
                        </tr>
                        <tbody  class="table table-striped table-bordered" cellspacing="0" width="100%">
                            @foreach (warrantyActivityFee fee in item.warrantyActivityFees)

                            {
                                String color = "#ffffff";
                                if (fee.active != null) {
                                    if (!(Boolean)fee.active) { color = "#c0c0c0"; }
                                }

                                <tr bgcolor= "@color">
                                    <td bgcolor= "@color" align="left">
                                        @fee.productSKU
                                    </td>
                                    <td bgcolor= "@color" align="left">
                                        @fee.quantity
                                    </td>
                                    <td bgcolor= "@color" align="left">
                                        @Convert.ToDecimal( Math.Floor( fee.fixingfee)).ToString("#,##0")
                                        
                                    </td>
                                    <td bgcolor= "@color" align="left"></td>
                                    @if (fee.active != null)
                                    {
                                        if ((Boolean)fee.active)
                                        {

                                        <td align="left">
                                            @using (Html.BeginForm("XoaFee", "Warranty"))
                                            {
                                                <input type="hidden" name="feeID" value="@fee.id" />
                                                <input type="hidden" name="activitiesID" value="@item.itemID" />
                                                <input type="submit" name="Xóa" value="Xóa" />
                                            }
                                        </td>
                                        }
                                        else {
                                            <td bgcolor= "@color"> Đã xóa</td>
                                        }

                                    }
                                    else
                                    {
                                        <td class="text-left">
                                            @using (Html.BeginForm("XoaFee", "Warranty"))
                                            {
                                                <input type="hidden" name="feeID" value="@fee.id" />
                                                <input type="hidden" name="activitiesID" value="@item.itemID" />
                                                <input type="submit" name="Xóa" value="Xóa" />
                                            }
                                        </td>
                                    }



                                </tr>
                            }
                        </tbody>
                        @using (Html.BeginForm("AddFee", "Warranty"))
                        {
                            <tr>
                                <td >
                                    <input type="hidden" name="activitiesID" value="@item.id" />
                                    <input id="searchID" type="text" name="ksu" />
                                </td>
                                <td>
                                    <input id="quantitySKU" type="text" name="quantity" />
                                </td>
                                <td>
                                    <input id="skuprice" type="text" name="fixPrice" />
                                </td>
                                <td>
                                    <input type="submit" name="ThêmS" />
                                </td>
                            </tr>
                        }

                    </table>

                    <br /><br /><br />
                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <tr>
                            <th colspan="4">
                                <h6> Sửa chữa khác </h6>
                            </th>
                        </tr>
                        <tr>
                            <th> Mô tả </th>
                            <th>  Tiền công</th>
                            <th> Thêm </th>
                            <th> Xóa</th>
                        </tr>
                        @foreach (warrantyActivityFixingFee fee in item.warrantyActivityFixingFees)
                        {
                            <tr>
                                <td>
                                    @fee.FixDetail
                                </td>
                                <td>
                                    @Convert.ToDecimal(Math.Floor(fee.fee)).ToString("#,##0")
                           
                                </td>
                                <td></td>
                                <td>
                                    @using (Html.BeginForm("XoaFixingFee", "Warranty"))
                                    {<input type="hidden" name="feeID" value="@fee.id" />
                                        <input type="hidden" name="activitiesID" value="@item.itemID" />
                                        <input type="submit" name="Xóa" value="Xóa" />
                                    }
                                </td>

                            </tr>
                        }

                        @using (Html.BeginForm("AddFixingFee", "Warranty"))
                        {
                            <tr>
                                <td>
                                    <input type="hidden" name="activitiesID" value="@item.id" />
                                    <input type="text" name="fixDetail" />
                                </td>
                                <td>
                                    <input type="text" name="price" />
                                </td>
                                <td>
                                    <input type="submit" name="ThêmS" />
                                </td>
                            </tr>
                        }
                    </table>
                }


            }
            if (!flag && (tb_warranty
                )ViewData["warrantyDetail"] != null )
            {

                tb_warranty t = (tb_warranty
                    )ViewData["warrantyDetail"];

                <button id="startWarranty"> Bắt đầu quy trình bảo hành</button>
                                    <div id="newWarrantyForm" style="display:none">
                                        @using (Html.BeginForm("Add", "Warranty"))
                                        {
                                            tb_warranty_activities t2 = new tb_warranty_activities();
                                            t2.warrantyID = t.warrantyID;
                                            t2.itemID = t.itemID;

                                            <div>
                                                @Html.TextBoxFor(item => t2.warrantyID, new { @Value = t.warrantyID })
                                                @Html.TextBoxFor(item => t2.itemID, new { @Value = t.itemID })

                                            </div>
                                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        Ngày nhận:
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(item => t2.startDate)

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Nhân Viên chịu trách nhiệm
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(item => t2.employee)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Tình trạng lúc nhận
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(item => t2.Description)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <button type="summit"> Bắt đầu</button>
                                                </tr>
                                            </table>
                                        }
                                    </div>


            }
        }


        @if (ViewData["lsbh"] != null && ((List<tb_warranty_activities>)ViewData["lsbh"]).Count() > 0
                        )
        {
            <br /><br /><br />
            
                                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                            <tr>
                                                <th colspan="8"> <h6> Lịch Sử Bảo Hành </h6></th>
                                            </tr>
                                            <tr><th>Mã bill bảo hành   </th>
                                                <th>Ngày nhận  </th>
                                                <th>Nhân viên nhận </th>
                                                <th>Nhân viên sửa </th>
                                                <th>Tình trạng lúc nhận </th>
                                                <th>  Ngày hoàn tất sửa </th>
                                                <th>  Ngày Trả </th>
                                                <th>  Chi tiết  </th>
                                            </tr>

                                            @foreach (var item in (List <tb_warranty_activities>)ViewData["lsbh"])
                                            {
                                                String color = "";
                                                if (item.status == 4) { color = "#7e7e7e"; }

                                                <tr bgcolor="@color">
                                                    <td>@item.CodeBaoHanh </td>
                                                    <td>@item.startDate </td>
                                                    <td>@item.AspNetUser.FullName </td>
                                                    <td>@if (item.AspNetUser1 != null)
                                                    {
                                                         @item.AspNetUser1.FullName

                                                    } </td>
                                                    <td>@item.tb_warrnaty_status.statusName </td>
                                                    <td>@item.finishFixingDate</td>
                                                    <td>@item.realeaseDATE </td>
                                                    @using (Html.BeginForm("Search", "Warranty"))
                                                    {
                                                        <td>
                                                            <input type="hidden" value="@item.id" name="code" />
                                                            <input type="hidden" value="warrantyActID" name="searchType" />
                                                            <button type="submit"  value="submit" name="submit" > Chi tiết</button>
                                                        </td>
                                                    }
                                                   

                                                </tr>


                                            }

                                        </table>


        }
        @if (ViewData["alsbh"] != null && ((List<tb_warranty_activities>)ViewData["alsbh"]).Count() > 0
                        )
        {
            <h1> Lịch Sử Bảo Hành của sản phẩm </h1>
                                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                            <tr>
                                                <th>Mã bảo hành  </th>
                                                <th>Ngày nhận  </th>
                                                <th>Nhân Viên Nhận </th>
                                                <th>Nhân Viên Sửa </th>
                                                <th>Tình trạng </th>
                                                <th>  Ngày hoàn tất sửa </th>
                                                <th>  Ngày Trả </th>
                                            </tr>

                                            @foreach (var item in (List
<tb_warranty_activities>
)ViewData["alsbh"])
                                            {

                                                <tr>
                                                    <td>@item.warrantyID </td>
                                                    <td>@item.startDate </td>
                                                    <td>@item.AspNetUser.FullName </td>
                                                    <td>@item.AspNetUser1.FullName </td>
                                                    <td>@item.tb_warrnaty_status.statusName </td>
                                                    <td>@item.finishFixingDate</td>
                                                    <td>@item.realeaseDATE </td>

                                                </tr>


                                            }
                                        </table>


        }
    </div>
</body>
</html>
